.backgroundColor {
    background-color: #e9eaea !important;
}

.abnormalColor {
    background-color: red;
}

.highOrLowColor {
    background-color: yellow;
    fill-opacity: 0.5;
}

.wrapper {
    overflow:hidden;
    overflow-y: scroll;
    height: 600px;
}

tbody {
    display:block;
    height:700px;
    overflow:auto;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed; /* even columns width , fix width of table too*/
}