<div class="modal fade" id="controlWindow" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Control Window - {{point.name}}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="content">
                    <label>Current value:</label>
                    <label>{{valueOfThePoint(point)}}</label>
                    <div *ngIf="point.type == 1 || point.type == 4">
                        <form>
                            <table>
                                <tr>
                                    <td>Commanded Value:</td>
                                    <td><input [class.borderColor]="!isCommandedValueValid" name="command" type="number" (change)="valueChanged()" [(ngModel)]="commandedValue"/></td>
                                    <td><button [disabled]="!isCommandedValueValid" (click)="writeCommand()">Write</button></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <div>
                        <button (click)="readCommand()">Read</button>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
